dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.c
*.h
*.pkg
src/fut/Calculation.json
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.HTF/
src/fut/lib
src-fut/lib/*

# Nix
result
result-*
